<section class="bg-gray-50 dark:bg-gray-900 sm:p-5">
    <div class="w-full">
        <!-- Start coding here -->
        <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden">
            <h1 class="text-center font-bold text-blue-500 text-xl p-4">Table des Notes</h1>
            <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 p-4">

                <div class="w-full">
                    <form method="GET" class="mx-2  w-full flex space-between">
                        {% csrf_token %}
                        
                        <label for="simple-search" class="sr-only">Recherche</label>
                        <div class="relative w-full md:w-1/4 mx-2">
                            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                                </svg>
                            </div>
                            <input type="text" name="q" id="simple-search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Recherche">
                        </div>
                    
                        <button class=" w-full md:w-auto flex items-center justify-center py-2 px-4 text-sm font-medium text-gray-900 focus:outline-none bg-blue-500 text-white rounded-lg border border-gray-200 hover:bg-blue-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700" type="submit">
                            Rechercher
                        </button>
                    </form>

                    <form method="GET" class="w-full flex items-center justify-between space-y-3 md:space-y-0 p-4">
                        
                        <!-- Semester Filter -->
                        <select name="semestre" class=" mx-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                             
                            <option value="1" {% if request.GET.semestre == '1' %}selected{% endif %}>Semestre 1</option>
                            <option value="2" {% if request.GET.semestre == '2' %}selected{% endif %}>Semestre 2</option>
                           
                            <option value="3" {% if request.GET.semestre == '3' %}selected{% endif %}>Semestre 3</option>
                            <option value="4" {% if request.GET.semestre == '4' %}selected{% endif %}>Semestre 4</option>
                            <option value="5" {% if request.GET.semestre == '5' %}selected{% endif %}>Semestre 5</option>
                            <option value="6" {% if request.GET.semestre == '6' %}selected{% endif %}>Semestre 6</option>
                            <option value="0" {% if request.GET.semestre == '0' %}selected{% endif %}>Annuelle</option>
                        </select>
        
                        <!-- Year Filter -->
                        <select name="annees" class=" mx-2  bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                            <option value="">Année</option>
                            <option value="2025" {% if request.GET.annees == '2025' %}selected{% endif %}>2025</option>
                            <option value="2026" {% if request.GET.annees == '2026' %}selected{% endif %}>2026</option>
                            <option value="2027" {% if request.GET.annees == '2027' %}selected{% endif %}>2027</option>
                            <option value="2028" {% if request.GET.annees == '2028' %}selected{% endif %}>2028</option>
                            <option value="2029" {% if request.GET.annees == '2029' %}selected{% endif %}>2029</option>
                            <option value="2030" {% if request.GET.annees == '2030' %}selected{% endif %}>2030</option>
                        </select>
        
                        <!-- Type Filter -->
                        <select name="type" class="mx-2  bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                            <option value="">Type</option>
                            <option value="mensuelle" {% if request.GET.type == 'mensuelle' %}selected{% endif %}>Mensuelle</option>
                            <option value="annuelle" {% if request.GET.type == 'annuelle' %}selected{% endif %}>Annuelle</option>
                        </select>

                         <!-- Classes Filter -->
                        <select name="classes" class="mx-2  bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                            <option value="">Classses</option>
                            {% for k,v in classes.items %}
                                 <option value="{{k}}"   {% if request.GET.classes == "{{k}}" %} selected {% endif %} >{{v}}</option>
                            {% endfor %}
                        </select>
        
        
                        <!-- Rank Filter -->
                        <select name="rang" class="mx-2  bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                            <option value="">Rang</option>
                            <option value="1" {% if request.GET.rang == '1' %}selected{% endif %}>1</option>
                            <option value="2" {% if request.GET.rang == '2' %}selected{% endif %}>2</option>
                            <option value="3" {% if request.GET.rang == '3' %}selected{% endif %}>3</option>
                        </select>
        
                        <!-- Submit Button -->
                        <button type="submit" class="py-2 px-4 bg-blue-500 text-white rounded-lg">Filtrer</button>
                    </form>
                </div>

            </div>
            <div class="overflow-x-auto">
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-4 py-3">Identifiant Etudiant</th>
                            <th scope="col" class="px-4 py-3">Nom de l'Etudiant</th>
                            <th scope="col" class="px-4 py-3">Année</th>
                            <th scope="col" class="px-4 py-3">Semestre</th>
                            <th scope="col" class="px-4 py-3">Moyenne</th>
                            <th scope="col" class="px-4 py-3">Rang</th>
                            <th scope="col" class="px-4 py-3">Classes</th>
                            <th scope="col" class="px-4 py-3">Type</th>
                          
                        </tr>
                    </thead>
                    <tbody>
                        {% for note in notes %}
                        <tr class="border-b dark:border-gray-700">
                            <th scope="row" class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ note.identifiant.identifiant }}</th>
                            <td class="px-4 py-3">{{ note.identifiant.nom }}</td>
                            <td class="px-4 py-3">{{ note.annees }}</td>
                            <td class="px-4 py-3">{{ note.semestre }}</td>
                            <td class="px-4 py-3">{{ note.moyen }}</td> 
                            <td class="px-4 py-3">{{ note.rang }}</td>
                               <td class="px-4 py-3">{{ note.identifiant.idclass.nom }}</td>
                            <td class="px-4 py-3">{{ note.type }}</td>
                         
                           
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
            {% include "main/components/paginations.html" with obj=notes %}
        </div>
</section>