<div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    {% with dynamic_url=url %}
    <a href="{% url dynamic_url %}">
        <h5 class="mb-2 text-center  font-bold tracking-tight text-gray-900 dark:text-white" style="font-size: {{ sizeName|default:'15' }}px;">
            {{name}}
        </h5>
    </a>
    {% endwith %}
    <p class="mb-3 font-normal text-center text-gray-700 dark:text-gray-400">
    <span class=" text-center " style="font-size: {{ sizeNumber|default:'100' }}px;">{{number}}</span>
    </p>
    {% with dynamic_url=url %}
    <a href="{% url dynamic_url %}" class="flex justify-between items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 w-full">
        <span class="flex-1 text-left">Aller</span>
        <svg class="w-3.5 h-3.5 ms-auto" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
        </svg>
    </a>
    
    {% endwith %}
</div>